*{
    margin: 0;
    padding: 0;
}

.maincont{
    display: flex;
    background-color: black;
    height: 80px;
    border-bottom: 1px solid black;
    /* margin: 0 auto; */
    
}
#logo{
    width: 50%;
}
#links{
    width: 50%;
    margin: 0px auto;
    
}
#links ul{
    display: flex;
    padding :30px;
    list-style: none;
}

#links ul li a{
    text-decoration: none;
    padding: 5px 15px;
    list-style: none;
    color:white;
    font-size: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: bold;

    
}

#mid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: ghostwhite;
}

.video-right{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.text-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-left h1{
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
}

footer{
    background-color: black;
    height: 500px;
}

footer h1{
    color: aqua;
}

footer #fot{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 300px;
}

a{
    padding: 5px;
}